
    <div class="row">
        <div class="container">
            <div class="logo">
                <img src="../../../assets/Imagenes/APLogo.png" id=logoAP alt="">

            </div>
            <div class="redes">
                
                    <a href=""><img src="../../../assets/Imagenes/linkedin.png" alt=""></a>
                    <a href=""><img src="../../../assets/Imagenes/facebook.png" alt=""></a>
                    <a href=""><img src="../../../assets/Imagenes/instagram.png" alt=""></a>
                    <a href=""><img src="..//../../assets/Imagenes/twitter.png" alt=""></a>
                    <button type="button" class="btn btn-outline-light">Ingreso</button>
                
            </div>

        </div>
</div>
    



