<section>
    
        
    <h1 id="Exs">Experiencia laboral</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
                    <img src="../../../assets/Imagenes/racing.png" class="img-fluid" id="racing" alt="">
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 offset sm-1 offset-md-1 offset-lg-1" id="trabajo1">
                    <h1>Cocinera y atención al público en buffet Racing Club
                    </h1>  <h3>2021-2022 (temporada)</h3>
                        <p> 
                            <li>Manejo de horno, plancha, freidora etc</li>
                            <li>Encargada de reponer stock de productos a la
                                venta (heladeras y góndola)</li>
                            <li>Manejo de caja y atención al publico</li>  
                        </p>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-outline-light" type="button"><img id="lapiz4" src="../../../assets/Imagenes/lapiz1.png" alt=""></button>
                        <button id="x5" class="btn btn-outline-light" type="button">
                            <img src="../../../assets/Imagenes/close1.png" alt=""></button>
             </div>
        </div>
     </div>
    </div>
    
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="img">
                   
                    <img src="../../../assets/Imagenes/framboise1.png" style="width:100%;" class="img-fluid" id="fram" alt=""> 
                   
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 offset sm-1 offset-md-1 offset-lg-1" id="trabajo2">
                    
                    <h1>Emprendimiento de Pastelería "Framboise"</h1>  <h3>2020 - actualidad</h3>
                        <p>
                            <li>Preparación de los pedidos, muchas
                                veces con pautas establecidas por los
                                clientes</li>
                            <li>Trato con los clientes</li>
                            <li>Manejo de redes sociales</li>

                        </p>
                   
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-outline-light" type="button"><img id="lapiz5" src="../../../assets/Imagenes/lapiz1.png" alt=""></button>
                    <button id="x6" class="btn btn-outline-light" type="button">
                        <img src="../../../assets/Imagenes/close1.png" alt=""></button>
             </div>
        </div>
     </div>
        </div>
     
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="img">
                   
                    <img src="../../../assets/Imagenes/kowalk.png" style="width: 100%;" class="img-fluid" id="mat" alt="">
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 offset sm-1 offset-md-1 offset-lg-1" id="trabajo3">
                    
                    <h1>Auxiliar Administrativa - (Rio Cuarto - Córdoba)
                    </h1>  <h3>2016 - 2017</h3>
                        <p>
                            <li>Atención administrativa a pacientes</li>
                            <li>Ayudante de conrador</li>
                            <li>Tareas de ordenado de historias clínicas</li>
                        </p>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-outline-light" type="button"><img id="lapiz6" src="../../../assets/Imagenes/lapiz1.png" alt=""></button>
                        <button id="x7" class="btn btn-outline-light" type="button">
                            <img src="../../../assets/Imagenes/close1.png" alt=""></button>
                    </div>
                </div>
     </div>
        </div>
    
</section>
