
   <section>
<div class="row">
    <h1 id="Titulo">Proyectos realizados</h1>
    

    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Portfolio</h2>
                <p id="texto2">Este proyecto se creó como trabajo final para Argentina Programa, en el cual debiamos
                  plasmar todo lo que habíamos aprendido durante el curso de programación. Este trabajo final consiste
                en crear un portfolio personal con nuestros datos como educación, experiencias  laborales, proyectos, Hard&Soft skills etc.
                El portfolio debía contar con un Frontend, donde se debia usar HTML, CSS, JAVA etc y con un Backend, donde se armó una
                base de datos con el uso de MySQL, NetBeans etc.
                </p>
        </div>
                
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/Imagenes/Proyecto.png"  class="img-fluid img-proyecto" alt="">
    </div>
    </div>
    </div>
        <div class="row">
            <h2>Cursos realizados</h2>
                <li>Habilidades para la empleabilidad (2021-2022), a cargo de la Subsecretaría de Desarrollo de la Ciudad</li>
                <li>Curso de Inglés para Desarrollares de Software en el marco del Plan Argentina Programa</li>
                <li>#IdeaTuVideoJuego</li>
        </div>
   </section>

