.row{
    background-color: rgb(33, 8, 45);

}
footer{
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px wheat;
}
