   <section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" >
              
                <img src="../../../assets/Imagenes/Perfil.jpeg" class="img-fluid" id="perfil" alt="">
                
                <div id="botonesAcerca">
                <div class="d-grid gap-2 d-md-block">
                    <button id="boton" class="btn btn-outline-light" type="button"><img 
                    src="../../../assets/Imagenes/lapiz1.png" id="Lap" alt=""></button>
                 </div>
                    <h1>Antonella Iacomelli</h1>
                    <h5>Full Stack Developer Jr</h5>
                    
                </div>    
            </div>



         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 offset-sm-1 offset-md-1 offset-lg-1">
                   <div id="acerca">
                        <h2>Acerca de mí</h2>
                        <div id="botonesAcerca">
                          <div class="d-grid gap-2 d-md-block">
                            <button class="btn btn-outline-light" type="button"><img id="lapiz" 
                              src="../../../assets/Imagenes/lapiz1.png" alt=""></button>
                            <button id="x" class="btn btn-outline-light" type="button">X</button>
                         </div>
                        </div>
            
            <div>
             <h6>
                Soy una persona organizada, polivalente 
                y con facilidad para la comunicación. 
                Me encuentro enbúsqueda de una oportunidad laboral 
                que me permita desarrollarme personal 
                y profesionalmente,mientras aporto mis conocimientos, 
                habilidades y experiencia para el logro de los objetivos 
                de la organización. 
             </h6>
            </div>
            </div>
         </div>
    </div>
    </div>
</section> 

