<div class="row">
    <div id="Titulo">
    <h1>Proyectos Realizados</h1>
    </div>

    <div class="contenedor">
<div class="col-sm-12 col-md-4 col-lg-4 parte1">
<h5>Portfolio</h5>
<p id="texto">Este protecto se creó como trabajo final para Argentina Programa, en el cual debiamos
    plasmar todo lo que habíamos aprendido durante el cuerso de programación. Este trabajo final consiste
    en crear un portfolio personal con nuestros datos como educación, experiencias  laborales, proyectos, Hard&Soft skills etc.
    El portfolio debía contar con un Frontend, donde se debia usar HTML, CSS, JAVA etc y con un Backend, donde se armó una
    base de datos con el uso de MySQL, NetBeans etc.
</p>
</div>
<div class="col-sm-12 col-md-8 col-lg-8 offset-md-1 offset-lg-1 parte2">
<img src="../../../assets/Imagenes/Proyecto.png"  class="img-fluid img-proyecto" alt="">
</div>
    </div>
</div>
