.row{
    padding: 50px;

}
section{
   background-color:  rgb(132, 89, 132);
}
#trabajo1 {
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#trabajo2 {
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#trabajo3 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#Exs{
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 3%;
    padding-left: 2%;
}



#racing{
    width: 54%;
    margin-left: 30%;
    margin-bottom: 20%;
}
#fram{
    width: 30%
}
#mat{
   
}

