.row{
    padding: 50px;
   
}

#trabajo1 {
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#trabajo2 {
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#trabajo3 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#Exs{
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 3%;
    padding-left: 2%;
}

#lapiz{
    width: 70%;
}
#x{
    width: 29%;
    color: black;
    font-weight: bold;
}
@media (max-width: 576px){
    #lapiz{
        width: 15%;
    }
    #x{
        width: 100%;
    }
    .row{

        display: flex;
        flex-direction: column;
        text-align: center;
    }
}