.row{
padding-bottom: 5%;

    
}

#edu1 {
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#edu2 {
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#edu3 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#Educ{
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 3%;
    padding-left: 2%;

}



#RC{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20%;
}
#uba{
    width: 10%
}
#AP{
   margin-bottom: 10%;
}

#lapiz{
    width: 70%;
}
#x{
    width: 29%;
    color: black;
    font-weight: bold;
}

@media (max-width: 576px){
    #lapiz{
        width: 10%;
    }
    #x{
        width: 100%;
    }
    .row{
        display: flex;
    flex-direction: column;
    text-align: center;
    }
}