<section>   
    <h1 id="Educ">Educación</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
                    <img src="../../../assets/Imagenes/unrc.png" class="img-fluid" id="RC" alt="">
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 offset sm-1 offset-md-1 offset-lg-1" id="edu1">
                    <h1>Universidad Nacional de Río Cuarto - Córdoba</h1>  <h6>2014 -  (sin concluir)</h6>
                    <h3>Letras</h3>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-outline-light" type="button">
                            <img id="lapiz" src="../../../assets/Imagenes/lapiz1.png" alt=""></button>
                        <button id="x" class="btn btn-outline-light" type="button">X</button>
                    </div>
                </div>
            </div>
        </div>
     
    
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="img">                   
                    <img src="../../../assets/Imagenes/uba.png" style="width:100%;" class="img-fluid" id="uba" alt="">                    
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 offset sm-1 offset-md-1 offset-lg-1" id="edu2">                    
                    <h1>Universidad de Buenos Aires</h1>  <h6>2020 - actualidad</h6>
                        <h3>Relaciones de trabajo</h3>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-outline-light" type="button"><img id="lapiz" src="../../../assets/Imagenes/lapiz1.png" alt=""></button>
                        <button id="x" class="btn btn-outline-light" type="button">X</button>
                    </div>        
                </div>
            </div>
        </div>

    
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="img">                  
                    <img src="../../../assets/Imagenes/APLogo.png" alt="" style="width: 100%;" class="img-fluid" id="AP" alt="">
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 offset sm-1 offset-md-1 offset-lg-1" id="edu3">                    
                    <h1>Argentina Programa</h1>  <h6>2021 -2022</h6>
                    <h3>Desarrolador Full Stack Developer Jr</h3>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-outline-light" type="button"><img id="lapiz" src="../../../assets/Imagenes/lapiz1.png" alt=""></button>
                        <button id="x" class="btn btn-outline-light" type="button">X</button>
                    </div>
                </div>
            </div>
        </div>
</section>
