
  
<section>
<div class="row">
    <h1 id="soft">Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="90"
        [radius]="100"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'black'"
        [innerStrokeColor]="'silver'"
        [animation]="true"
        [animationDuration]="600"
        title="Resolver problemas"
        [imageSrc]="'../assets/Imagenes/problemas.png'"
        [imageWidth]="150"
        [imageHeight]="300"
        [showImage]="true"
        [titleColor]="'white'"
      ></circle-progress>
    </div>  

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="100"
        [radius]="100"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'black'"
        [innerStrokeColor]="'silver'"
        [animation]="true"
        [animationDuration]="600"
        title="Proactividad"
        [imageSrc]="'../assets/Imagenes/proac.png'"
        [imageWidth]="100"
        [imageHeight]="150"
        [showImage]="true"
        [titleColor]="'white'"
      ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="80"
        [radius]="100"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'black'"
        [innerStrokeColor]="'silver'"
        [animation]="true"
        [animationDuration]="600"
        title="Creatividad"
        [imageSrc]="'../assets/Imagenes/creativ.png'"
        [imageWidth]="150"
        [imageHeight]="100"
        [showImage]="true"
        [titleColor]="'white'"
      ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="75"
        [radius]="100"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'black'"
        [innerStrokeColor]="'silver'"
        [animation]="true"
        [animationDuration]="600"
        title="Versatilidad"
        [imageSrc]="'../assets/Imagenes/versa.png'"
        [imageWidth]="200"
        [imageHeight]="200"
        [showImage]="true"
        [titleColor]="'white'"
      ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="80"
        [radius]="100"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'black'"
        [innerStrokeColor]="'silver'"
        [animation]="true"
        [animationDuration]="600"
        title="Trabajo en equipo"
        [imageSrc]="'../assets/Imagenes/grupal.png'"
        [imageWidth]="80"
        [imageHeight]="80"
        [showImage]="true"
        [titleColor]="'white'"
      ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="100"
        [radius]="100"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'black'"
        [innerStrokeColor]="'silver'"
        [animation]="true"
        [animationDuration]="600"
        title="Puntualidad"
        [imageSrc]="'../assets/Imagenes/reloj.png'"
        [imageWidth]="150"
        [imageHeight]="110"
        [showImage]="true"
        [titleColor]="'white'"
      ></circle-progress>
    </div> 
    </div>
</section>

