<div>
    <img src="../../../assets/Imagenes/BannerFinal.png" style="width: 100%;" alt="">
        <div>   
        <button class="btn btn-outline-light" type="button" id="botonBanner">
            <img id="lapiz9" src="../../../assets/Imagenes/lapiz4.png" alt="">
        </button>
        </div>
        <div>
            <button class="btn btn-outline-light" type="button" id="botonFoto">
                <img id="lapiz9" src="../../../assets/Imagenes/lapiz1.png" alt="">
            </button>
         </div>

</div>
