<section>
<div class="row">
    <h1 id="hard">Hard skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="80"
        [radius]="80"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'purple'"
        [innerStrokeColor]="'salmon'"
        [animation]="true"
        [animationDuration]="600"
        title="HTML"
        [imageSrc]="'../assets/Imagenes/html.png'"
        [imageWidth]="80"
        [imageHeight]="80"
        [showImage]="true"
        [titleColor]="'black'"
      ></circle-progress>
    </div>  

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="60"
        [radius]="80"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'purple'"
        [innerStrokeColor]="'salmon'"
        [animation]="true"
        [animationDuration]="600"
        title="CSS"
        [imageSrc]="'../assets/Imagenes/CSS.png'"
        [imageWidth]="70"
        [imageHeight]="80"
        [showImage]="true"
        [titleColor]="'black'"
      ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="60"
        [radius]="80"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'purple'"
        [innerStrokeColor]="'salmon'"
        [animation]="true"
        [animationDuration]="600"
        title="JV"
        [imageSrc]="'../assets/Imagenes/javascript.png'"
        [imageWidth]="80"
        [imageHeight]="80"
        [showImage]="true"
        [titleColor]="'black'"
      ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'purple'"
        [innerStrokeColor]="'salmon'"
        [animation]="true"
        [animationDuration]="600"
        title="GitHub"
        [imageSrc]="'../assets/Imagenes/Git.webp'"
        [imageWidth]="80"
        [imageHeight]="80"
        [showImage]="true"
        [titleColor]="'black'"
      ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="70"
        [radius]="80"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'purple'"
        [innerStrokeColor]="'salmon'"
        [animation]="true"
        [animationDuration]="600"
        title="Angular"
        [imageSrc]="'../assets/Imagenes/Angular1.png'"
        [imageWidth]="80"
        [imageHeight]="80"
        [showImage]="true"
        [titleColor]="'black'"
      ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="80"
        [radius]="80"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'purple'"
        [innerStrokeColor]="'salmon'"
        [animation]="true"
        [animationDuration]="600"
        title="MySQL"
        [imageSrc]="'../assets/Imagenes/mysql.png'"
        [imageWidth]="80"
        [imageHeight]="80"
        [showImage]="true"
        [titleColor]="'black'"
      ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [showUnits]="false"
      [showSubtitle]="false"
      [percent]="60"
      [radius]="80"
      [outerStrokeWidth]="7"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'purple'"
      [innerStrokeColor]="'salmon'"
      [animation]="true"
      [animationDuration]="600"
      title="NetBeans"
      [imageSrc]="'../assets/Imagenes/netbeans.png'"
      [imageWidth]="80"
      [imageHeight]="80"
      [showImage]="true"
      [titleColor]="'black'"
    ></circle-progress>
  </div> 
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [showUnits]="false"
    [showSubtitle]="false"
    [percent]="70"
    [radius]="80"
    [outerStrokeWidth]="7"
    [innerStrokeWidth]="6"
    [outerStrokeColor]="'purple'"
    [innerStrokeColor]="'salmon'"
    [animation]="true"
    [animationDuration]="600"
    title="Bootstrap"
    [imageSrc]="'../assets/Imagenes/bootstrap.png'"
    [imageWidth]="90"
    [imageHeight]="90"
    [showImage]="true"
    [titleColor]="'black'"
  ></circle-progress>
</div> 
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [showUnits]="false"
  [showSubtitle]="false"
  [percent]="60"
  [radius]="80"
  [outerStrokeWidth]="7"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'purple'"
  [innerStrokeColor]="'salmon'"
  [animation]="true"
  [animationDuration]="600"
  title="Ingles"
  [imageSrc]="'../assets/Imagenes/ingles.png'"
  [imageWidth]="100"
  [imageHeight]="100"
  [showImage]="true"
  [titleColor]="'black'"
></circle-progress>
</div>
    </div>
</section>

