<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="85"
        [radius]="50"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'purple'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="600"
        title="HTML"
        [titleColor]="'black'"
      ></circle-progress>
    </div>  

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="85"
        [radius]="50"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'purple'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="600"
        title="CSS"
        [titleColor]="'black'"
      ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="85"
        [radius]="50"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'purple'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="600"
        title="JV"
        [titleColor]="'black'"
      ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="85"
        [radius]="50"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'purple'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="600"
        title="GitHub"
        [titleColor]="'black'"
      ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="85"
        [radius]="50"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'purple'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="600"
        title="Angular"
        [titleColor]="'black'"
      ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="85"
        [radius]="50"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'purple'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="600"
        title="MySQL"
        [titleColor]="'black'"
      ></circle-progress>
    </div> 
    </div>

