<section>
        
    <div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" >
        <img src="../../../assets/Imagenes/Perfil.jpeg" class="img-fluid" id="perfil" alt="">
        <h1>Antonella Iacomelli</h1>
        <h5>Full Stack Developer Jr</h5>
        <div><img src="" id="rama" alt=""></div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>Acerca de mí</h2>
             <h6>
                Soy una persona organizada, polivalente 
                y con facilidad para la comunicación. 
                Me encuentro en búsqueda de una oportunidad laboral 
                que me permita desarrollarme personal 
                y profesionalmente,mientras aporto mis conocimientos, 
                habilidades y experiencia para el logro de los objetivos 
                de la organización. 
             </h6>
        </span>
        </div>
    </div>
    </div>
 
</section>
    
   

