
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img src="../../../assets/Imagenes/Perfil.jpeg" id="FotoPerfil" style="width: 20%;" alt="">
 
    <h1 id="name" class="center">Antonella Iacomelli</h1>
    <div id="datos" class="center">
    <p>Desarrolladora Full Stack Developer Jr</p>  
    <p>Ciudad Autónoma de Buenos Aires</p>
        </div>
        </div>
        

        <div id="Yo" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <section class="left">
        <h1 id="Acerca" class="acerca">Acerca de mí </h1>
        <span>
        <p id="mi">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut voluptas quia illum ipsa laboriosam, voluptates repellat, accusantium qui dolorem modi aut pariatur tempore labore porro dignissimos quisquam maxime ullam accusamus?</p>
        </span>
    </section>
    
   
</div>

