
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
    <img src="../../../assets/Imagenes/Perfil.jpeg" style="width: 100%;" alt="">
    <h1 class="name" >Antonella Iacomelli</h1>
    <p>Desarrolladora Full Stack Developer Jr</p>  
    <p>Ciudad Autónoma de Buenos Aires</p>
        </div>
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
        <h1 class="acerca">Acerca de mí </h1>
        <span>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut voluptas quia illum ipsa laboriosam, voluptates repellat, accusantium qui dolorem modi aut pariatur tempore labore porro dignissimos quisquam maxime ullam accusamus?</p>
        </span>
    </section>
   
</div>

