img {
    width: 250px;
   
    
}
#Yo{
   
}
.row {
padding: 80px;

}

div{
    background-color: rgb(33, 8, 45);

}
#name{

margin-left: 50px;
color: white;

}
#Acerca{
    color: white;
}
#mi{
    color: white;
}
#datos{
    margin-top: 10%;
    margin-left: 10px;
    color: white;
}
@media (min-width: 576px){
    #FotoPerfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        left: 7%;
       top: 110%;
        font-size: 20%;
    }
}
@media (max-width: 575px){
    #FotoPerfil{
        position: absolute;
        width: 10%;
        border-radius: 100%;
       
        left: 40%;
        top: 55%;
    }}
    .center{
        text-align:left;
    }
    .left{
        text-align: justify;
    }
    section{  }



