<div class="row">

    <h1 id="Edu">Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11" id="Ed">
    <ul>
        <li>
            <h1>Educación 1</h1> - <h3>Años</h3>
        </li>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, fuga non tenetur, obcaecati optio laborum beatae nisi deleniti magni enim amet earum molestias doloremque. Saepe tempore ab dolores perferendis doloremque.</p>
    </ul>
    <ul>
        <li>
            <h1>Educación 2</h1> - <h3>Años</h3>
        </li>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, fuga non tenetur, obcaecati optio laborum beatae nisi deleniti magni enim amet earum molestias doloremque. Saepe tempore ab dolores perferendis doloremque.</p>
    </ul>
    <ul>
        <li>
            <h1>Educación 3</h1> - <h3>Años</h3>
        </li>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, fuga non tenetur, obcaecati optio laborum beatae nisi deleniti magni enim amet earum molestias doloremque. Saepe tempore ab dolores perferendis doloremque.</p>
    </ul>
    
    </div>
    </div>