<section>
    <h1 id="Educ">Educación</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2" >
                    <img src="../../../assets/Imagenes/RC.png" class="img-fluid" id="RC" alt="">
                </div>
                <div class="col-8" id="edu1">
                    <h1>Universidad Nacional de Río Cuarto - Córdoba</h1>  <h6>2014 -  (sin concluir)</h6>
                    <h3>Letras</h3>
                </div>
                <div class="col-2">
             </div>
        </div>
     </div>
    
        <div class="container-fluid">
            <div class="row">
                <div class="col-2" id="img">
                   
                    <img src="../../../assets/Imagenes/Logo-UBA-nuevo-blanco.png" style="width:100%;" class="img-fluid" id="uba" alt=""> 
                   
                </div>
                <div class="col-8" id="edu2">
                    
                    <h1>Universisad de Buenos Aires</h1>  <h6>2020 - actualidad</h6>
                        <h3>Relaciones de trabajo</h3>
                   
                </div>
                <div class="col-2">
             </div>
        </div>
     </div>
     
        <div class="container-fluid">
            <div class="row">
                <div class="col-2" id="img">
                   
                    <img src="../../../assets/Imagenes/APLogo.png" alt="" style="width: 100%;" class="img-fluid" id="AP" alt="">
                </div>
                <div class="col-8" id="edu3">
                    
                    <h1>Argentina Programa</h1>  <h6>2021 -2022</h6>
                    <h3>Desarrolador Full Stack Developer Jr</h3>
                </div>
                <div class="col-2">
             </div>
        </div>
     </div>
</section>
