.row{
padding-bottom: 5%;
    
}
section{
    background-color:  rgb(132, 89, 132);
    border-style: solid;
    

}
#edu1 {
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#edu2 {
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#edu3 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#Educ{
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 3%;
    padding-left: 2%;

}



#RC{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20%;
}
#uba{
    width: 10%
}
#AP{
   margin-bottom: 10%;
}